<div id="addpics" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add A New Pic!</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="webUrl">Web URL: </label>
            <input type="text" class="form-control" id="webUrl" placeholder="e.g. Some Web Path/image?.jpg">
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <%# <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>%>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
