<!DOCTYPE html>
<% include head %>

<header>
<% include addpicmodal %>
<% include nav %>
</header>

<!-- Begin page content -->
<body>
  <%# <div id="wrap">%>
    <%# <div id-"photos-wrapper">%>
      <%# <h2>A nodejs voting game - is it electric??</h2>%>
      <!--<div id="photo">
        <img src="images/<%=carImage.imageSrc%>">
      </div>-->


      <%# <div id="button-holder">
        <form class="vote-button" action="./electric" method="post">
            <input type="hidden" name="photo" value="peel">
            <input type="submit" class="btn btn-info" value="Electric!">
        </form>
        <form class="vote-button" action="poser" method="post">
          <input type="hidden" name="photo" value="peel">
    			<input type="submit" class="btn btn-info" Value="Poser">
    		</form>
      </div>%>


<%# </div>%>
<% include slitslider %>
<% include footer %>
</body>




<!--<html>
  <head>
    <meta charset="utf-8">
    <title>Example Mongodb</title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <div class="viewport">
      <img src="images/<%=carImage.imageSrc%>">
    </div>
  </body>
</html>-->
