/* Wrapper for page content to push down footer */
/* line 4, ../../compass/sass/style.scss */
#wrap {
  min-height: 100%;
  /* Negative indent footer by it's height */
  position: relative;
  height: 100%;
}

/* Lastly, apply responsive CSS fixes as necessary */
/* line 24, ../../compass/sass/style.scss */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: red;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
/* line 38, ../../compass/sass/style.scss */
#wrap > .container {
  padding-top: 60px;
}

/* line 41, ../../compass/sass/style.scss */
.container .credit {
  margin: 20px 0;
}

/* line 45, ../../compass/sass/style.scss */
code {
  font-size: 80%;
}

/* line 49, ../../compass/sass/style.scss */
#photo img {
  width: 400px;
}

/* line 53, ../../compass/sass/style.scss */
.navbar-brand img {
  width: 40px;
}

/* line 57, ../../compass/sass/style.scss */
.navbar {
  margin: 0;
}

/* line 60, ../../compass/sass/style.scss */
.custom-bg {
  background-color: #32301b;
}
