/* line 1, ../../compass/sass/_home.scss */
html,
body {
  position: relative;
  height: 100vh;
  overflow: hidden;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
/* line 4, ../../compass/sass/style.scss */
#wrap {
  /* Negative indent footer by it's height */
  position: absolute;
  width: 100%;
  height: 90%;
}

/* Lastly, apply responsive CSS fixes as necessary */
/* line 25, ../../compass/sass/style.scss */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 2;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
/* line 40, ../../compass/sass/style.scss */
#wrap > .container {
  padding-top: 60px;
}

/* line 43, ../../compass/sass/style.scss */
.container .credit {
  margin: 20px 0;
}

/* line 47, ../../compass/sass/style.scss */
code {
  font-size: 80%;
}

/* line 55, ../../compass/sass/style.scss */
.navbar-brand {
  padding: 4px 15px;
}

/* line 58, ../../compass/sass/style.scss */
.navbar-brand img {
  width: 46px;
}

/* line 61, ../../compass/sass/style.scss */
.navbar-nav > li {
  padding-right: 5px;
}

/* line 64, ../../compass/sass/style.scss */
.navbar {
  margin: 0;
  border-radius: 0;
  line-height: 50px;
}

/* line 69, ../../compass/sass/style.scss */
.footer.custom-bg {
  padding: 10px;
}

/* line 72, ../../compass/sass/style.scss */
.custom-bg {
  background-color: darkgray;
  text-align: center;
}
/* line 75, ../../compass/sass/style.scss */
.custom-bg input[voter="vote-actions"] {
  width: 100px;
  box-shadow: 1px 1px 5px black;
  color: darkblue;
  font-weight: bold;
  font-size: 20px;
}
